@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Shadows+Into+Light&display=swap');
/* font-family: 'Righteous',
cursive;
font-family: 'Shadows Into Light',
cursive; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&family=Shadows+Into+Light&display=swap');
/* font-family: 'Righteous',
cursive;
font-family: 'Sarala',
sans-serif;
font-family: 'Shadows Into Light',
cursive; */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 
}

body {
 font-size: 100%;
 background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.header {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 padding: 24px;
 
}

.header-image {
 height: 72 px;
}

.header-menu {
 display: flex;
 gap: 32px;
}

.header-menu-item {
 font-family: 'sarala', sans-serif;
 color: #FFF2E7;
 font-weight: 400;
 font-size: 18px;
}

.main-content {
 margin-bottom: 48px;
 border-top: 0.4px solid #FFF2E7;
}

.main-content-section1 {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
}

.main-content-write {
 display: flex;
 flex-direction: column;
 gap: 32px;

}

.main-content-write-title {
 font-family: 'Righteous',cursive;
 font-weight: 400;
 font-size: 64px;
 color: #FFF2E7;
 
}

.main-content-write-subtitle {
 font-family: 'Sarala', sans-serif;
 font-weight: 400;
 font-size: 24px;
 color: #ECD6C4;
}

.main-content-write-button {
 background-color: #ECD6C4;
 width: 185px;
 height: 67px;
 border: none;
 border-radius: 20px;
 box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
 font-size: 24px;
 color: #2F2325;
 
}

.main-content-write-button:hover {
  background-color: rgba(236, 214, 196, 0.53);
}


.main-content-image {
 height: 430px;
}

.secondary-content-write {
 display: flex;
 flex-direction: column;
 margin-top: 48px;
 align-items: center;
 gap: 24px;
}

.secondary-content-write-title {
 font-family: 'Righteous', cursive;
 font-weight: 400;
 font-size: 24px;
 color: #FFF2E7;
 border-top: 0.4px solid #FFF2E7;
 padding-top: 48px;
 margin-bottom: 16px;
}

.secondary-content-paragraph {
 font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

.footer {
 padding: 32px;
 border-top: 0.4px solid #FFF2E7;
}

.footer-image {
 height: 48px;
 display: block;
 margin: 0 auto;
}